---
import { SITE_DESCRIPTION, SITE_TITLE } from "~/consts/meta";
import { TWITTER_ID } from "~/consts/sns";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonicalURL?: string;
  twitter?: {
    card?: "summary" | "summary_large_image" | "player" | "app";
    site?: string;
  };
  ogType?: "website" | "article" | "book" | "profile"; // ref: https://ogp.me/
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const {
  title = SITE_TITLE,
  description = SITE_DESCRIPTION,
  image = "/bear.png", // TODO: set default.
  twitter = { card: "summary_large_image", site: TWITTER_ID },
  ogType = "website",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Primary Meta Tags -->
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  <!-- Open Graph / Facebook -->
  <!-- ref: https://developers.facebook.com/docs/sharing/webmasters/?locale=ja_JP -->
  <meta property="og:type" content={ogType} />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(image, Astro.url)} />

  <!-- Twitter -->
  <meta property="twitter:card" content={twitter.card} />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:site" content={twitter.site} />
  <meta property="twitter:image" content={new URL(image, Astro.url)} />


</html>
