---
import type { NoteType, NoteCategoryType } from "~/schemas/note";
import { capitalize } from "~/utils/string";
import { renderDate } from "~/utils/date";
import { Image } from "@astrojs/image/components";
import { parse } from "twemoji-parser";

type Props = {
  noteItem: NoteType;
};
const { noteItem } = Astro.props;
const entities = parse(noteItem.emoji);

if (entities.length !== 1) {
  throw Error("1 emoji must be set");
}
const emojiEntity = entities[0];

const CATEGORY_TO_COLOR_CODE = {
  tech: "#F79428",
  life: "#4B5EAA",
  other: "#F30100",
} as const;
const categoryTagBackgroundColor = CATEGORY_TO_COLOR_CODE[noteItem.category];

const link =
  noteItem.externalLink === undefined
    ? `/notes/${noteItem.category}/${noteItem.noteId}`
    : noteItem.externalLink;
---

<a href={link} target={noteItem.externalLink && "_blank"}>
  <div class="list_item_wrapper">
    <div class="img_area">
      <Image
        src={emojiEntity.url}
        width={40}
        height={40}
        alt={emojiEntity.text}
        format={"svg"}
      />
    </div>
    <div class="note_info_area">
      <div class="title_wrapper"><p>{noteItem.title}</p></div>
      <div class="metadata_wrapper">
        <p class="category_tag">{capitalize(noteItem.category)}</p>
        <time>{renderDate(noteItem.pubDate)}</time>
        {
          noteItem.externalLink && (
            <svg
              viewBox="0 0 36 36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M4 0C1.81387 0 0 1.81387 0 4V32C0 34.1861 1.81387 36 4 36H32C34.1861 36 36 34.1861 36 32V18H32V32H4V4H18V0H4ZM22 0V4H29.1719L10.5859 22.5859L13.4141 25.4141L32 6.82812V14H36V0H22Z" />
            </svg>
          )
        }
      </div>
    </div>
  </div>
</a>

<style define:vars={{ categoryTagBackgroundColor }}>
  .list_item_wrapper {
    display: flex;
    margin-bottom: 16px;
  }
  .note_info_area {
    padding: 8px;
  }
  .title_wrapper {
    height: 40px;
  }
  .title_wrapper p {
    margin: 0;
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .img_area {
    width: 72px;
    height: 72px;
    background-color: #fff;
    border-radius: 8px;
  }
  img {
    margin: 16px;
  }
  .metadata_wrapper {
    display: flex;
    margin-top: 2px;
  }
  .category_tag {
    margin: 0;
    padding: 4px;
    font-size: 8px;
    font-weight: 700;
    background-color: var(--categoryTagBackgroundColor);
    color: #fff;
    border-radius: 4px;
    font-family: "Noto Sans JP", sans-serif;
    width: 40px;
    text-align: center;
    height: 16px;
    line-height: 8px;
  }
  .metadata_wrapper time {
    font-size: 8px;
    font-family: "Noto Sans JP", sans-serif;
    margin: 2px 8px;
    color: #747474;
  }
  .metadata_wrapper svg {
    width: 10px;
    height: 10px;
    fill: #4f8afd;
    margin: 3px 0;
  }
</style>
