---
import type { NoteType } from "~/schemas/note";
import { capitalize, convertEmojiStrToTwiImage } from "~/utils/string";
import { renderDate } from "~/utils/date";
import { NOTE_CATEGORY_TO_COLOR_CODE } from "~/consts/color";
import { Image } from "@astrojs/image/components";
import CategoryTag from "~/components/common/CategoryTag.astro";
import PubDate from "~/components/common/PubDate.astro";

type Props = {
  relatedNote: NoteType;
};
const { relatedNote } = Astro.props;

const emojiEntity = convertEmojiStrToTwiImage(relatedNote.emoji);

const categoryTagBackgroundColor =
  NOTE_CATEGORY_TO_COLOR_CODE[relatedNote.category];

const link =
  relatedNote.externalLink === undefined
    ? `/notes/${relatedNote.category}/${relatedNote.noteId}`
    : relatedNote.externalLink;
---

<a href={link} target={relatedNote.externalLink && "_blank"}>
  <div class="related_note_item">
    <div class="img_area">
      <Image
        src={emojiEntity.url}
        width={40}
        height={40}
        alt={emojiEntity.text}
        format={"svg"}
      />
    </div>
    <div class="note_info_area">
      <div class="title_wrapper"><p>{relatedNote.title}</p></div>
      <div class="metadata_wrapper">
        <CategoryTag category={relatedNote.category} />
        <PubDate pubDate={relatedNote.pubDate} />
        {
          relatedNote.externalLink && (
            <svg
              viewBox="0 0 36 36"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M4 0C1.81387 0 0 1.81387 0 4V32C0 34.1861 1.81387 36 4 36H32C34.1861 36 36 34.1861 36 32V18H32V32H4V4H18V0H4ZM22 0V4H29.1719L10.5859 22.5859L13.4141 25.4141L32 6.82812V14H36V0H22Z" />
            </svg>
          )
        }
      </div>
    </div>
  </div>
</a>
<style>
  .related_note_item {
    height: 88px;
    background: #fff;
    margin-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    max-width: 376px;
    width: 100%;
    display: flex;
  }
  .note_info_area {
    padding: 16px 16px 8px 8px;
  }
  .title_wrapper {
    height: 40px;
  }
  .title_wrapper p {
    margin: 0;
    font-weight: 600;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  .img_area {
    width: 72px;
    height: 72px;
    background-color: #f2f2f2;
    border-radius: 8px;
    margin: 8px;
  }
  .img_area img {
    margin: 16px;
  }
  .metadata_wrapper {
    display: flex;
    margin-top: 4px;
  }
  .metadata_wrapper svg {
    width: 10px;
    height: 10px;
    fill: #4f8afd;
    margin: 3px 0;
  }
  @media screen and (min-width: 768px) {
    .related_note_item {
      margin-right: 16px;
    }
  }
</style>
